.card {
    width: 18rem;
    margin: auto;
    transition: transform 0.2s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-img {
    width: 200px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    margin-bottom: 10px;
  }

  .details-button {
    margin-right: 10px;
  }

  .add-to-cart-button {
    margin-top: 10px;
  }

  .modal-header {
    background-color: #d7f8e5; 
    color: #721c24;
  }

  .modal-footer {
    background-color: #d7f8e5;
  }

  .buttons{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 4px;
    margin: auto
  }

  .countHandler{

    display: flex;
    justify-content: center;
    margin: auto;
  }
  @media only screen and (min-width: 873px) and (max-width: 1024px) {

    .card {
      width: 12rem;
      margin: auto;
      transition: transform 0.2s ease-in-out;
    }
  
    .card:hover {
      transform: scale(1.05);
    }
  
    .card-img {
      width: 130px;
    }
  
    .card-title {
      font-size: 12px;
    }
  
    .card-text {
      margin-bottom: 6px;
    }
    .details-button {
      font-size: 15px;
      width: 100%;
    }
  
    .add-to-cart-button {
      margin-top: 6px;
      font-size: 15px;
    }
  
    .modal-header {
      background-color: #d7f8e5; 
      color: #721c24;
    }
  
    .modal-footer {
      background-color: #d7f8e5;
    }
    .buttons{
      display: grid;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 872px) {

    .card {
      width: 12rem;
      margin: auto;
      transition: transform 0.2s ease-in-out;
    
    }
  
    .card:hover {
      transform: scale(1.05);
    }
  
    .card-img {
      width: 130px;
    }
  
    .card-title {
      font-size: 12px;
    }
  
    .card-text {
      margin-bottom: 6px;
    }
  
    .details-button {
      font-size: 15px;
      width: 100%;
    }
  
    .add-to-cart-button {
      margin-top: 6px;
      font-size: 15px;
    }
  
    .modal-header {
      background-color: #d7f8e5; 
      color: #721c24;
    }
  
    .modal-footer {
      background-color: #d7f8e5;
    }
    .buttons{
      display: grid;
    }

  }

  @media screen and (max-width: 600px){
    .card {
  

      width: 10rem;
      margin: auto;
      transition: transform 0.2s ease-in-out;
    }
  
    .card:hover {
      transform: scale(1.05);
    }
  
    .card-img {
      width: 90px;
    }
  
    .card-title {
      font-size: 11px;
    }
  
    .card-text {
      margin-bottom: 5px;
    }
  
    .details-button {
      margin-right: px;
      font-size: 11px;
      width: 100%;
    }
  
    .add-to-cart-button {
      margin-top: 6px;
      font-size: 10px;
    }
  
    .modal-header {
      background-color: #d7f8e5; 
      color: #721c24;
    }
  
    .modal-footer {
      background-color: #d7f8e5;
    }

    .countHandler{

      display: flex;
      align-content: center;
      justify-content: center;
      margin: auto;
  height: 30px;

    }

    .buttons{
      display: grid;
    }

.ButonPlus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButonMinus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButonElimina { 
font-size: 11px ;}
  }