.containerAddProduse {
  margin: 50px;
  width: 500px;
}

.cardAddProduse {
  width: 600px;
}

.card-card-bodyAddProduse {
  width: 500px;
  margin: auto;
}

.ButoaneAddProduse {
  margin-top: 5px;
}
.btn {
  margin-right: 5px;
}
